---
{
    "stream": {
        "$id": "restaurants",
        "source": "knowledgeGraph",
        "destination": "pages",
      "fields": [
        "id", 
        "name", 
        "description",
        "address",
        "mainPhone",
        "geomodifier",
        "hours",
        "slug"
      ],
      "filter": {
        "savedFilterIds": [
            "667440577"
        ]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}}</title>
    <meta name="description" content={{description}} />
    {{>head}}
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap"
      rel="stylesheet"
    />
    {{>styles}}
    <script>
        console.log("defining initMaps Functions");
        var initMapsFunctions = [];
        var initMaps = function(noKey) {
            for (i = 0; i < initMapsFunctions.length; i++) {
                initMapsFunctions[i](noKey);
            }
        }
    </script>
    <script>
        function loadScriptAsync(url) {
            return new Promise((resolve, reject) => {
                const script = document.createElement("script");
                script.type = 'text/javascript';
                script.async = true;
                script.defer = true;
                script.onload = resolve;
                script.onerror = reject;
                script.src = url;
                document.head.appendChild(script);
            });
        }
        window.mapsLoader = loadScriptAsync("https://maps.googleapis.com/maps/api/js?key={{global.googleApiKey}}&callback=initMaps&libraries=places");
    </script>
  </head>

  
    <body>
      {{>navbar}}
      <div class="mt-10"></div>
      {{>heroBanner title=geomodifier }}
      <div class="md:px-40 lg:px-60 xl:px-80 mb-20">
        <div class="flex flex-col lg:flex-row w-full lg:justify-between px-10 lg:px-0 items-start my-10">
          <div class="flex flex-col w-full lg:w-1/3 mb-8">
            <h3 class="mb-4">Address</h3>
            <div class="mb-6">
              <p>{{address.line1}}</p>
              <p>{{address.city}}</p>
              <p>{{address.postalCode}}</p>
            </div>
            <div class="mb-6">
              {{>lightButton text="GET DIRECTIONS" href="#" darkBorder="true"}}
            </div>
          </div>
          <div class="flex flex-col md:items-center w-full lg:w-1/3 mb-8">
            <h3 class="mb-4">Contact</h3>
            <div class="flex items-center">
              {{>icon source="./images/phone-solid.svg" noBg="true"}}
              <p>{{mainPhone}}</p>
            </div>
          </div>
          <div class="flex flex-col md:items-center w-full lg:w-1/3 mb-8">
            <h3 class="mb-4">Hours</h3>
            {{>hours hours}}
            <div class="flex justify-start w-full">
            {{>deliveryIcons}}

            </div>
          </div>
        </div>
        <div class="flex flex-col 2xl:flex-row justify-center lg:justify-between md:items-center px-10 w-full">
          <div class="w-full 2xl:w-1/2">
             <div class="p-10">{{>staticmap}}</div>
          </div>
          <div class="w-full 2xl:w-1/2">
            <h3 class="mb-6">About Carluccio's {{geomodifier}}</h3>
            <p class="mb-10">{{description}}</p>
            <div class="flex flex-col xl:flex-row justify-evenly">
              <div class="p-2">
                {{>lightButton text="GET DIRECTIONS" darkBorder="true"}}
              </div>
              <div class="p-2">
                {{>lightButton text="VIEW MENU" darkBorder="true"}}
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center mt-20 px-10">
          <h3 class="mb-20">
            Nearby Carluccio's Restaurants
          </h3>
          <div class="mb-10">
            <h4>3 restaurants will go here...</h4>
          </div>
          {{>darkButton text="Find a Carluccios Restaurant" href="#"}}
        </div>
      </div>
      {{>footer}}
    </body>  
</html>